/* Force 24-hour format for datetime-local and time inputs */

/* Set locale to en-GB which uses 24-hour format by default */
input[type="datetime-local"],
input[type="time"] {
  /* Force 24-hour format display */
  -webkit-locale: "en-GB";
  locale: "en-GB";
}

/* Dark mode support for datetime inputs */
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="datetime-local"],
input[type="time"] {
  color-scheme: dark;
}

/* Hide AM/PM indicator if browser tries to show it */
input[type="datetime-local"]::-webkit-datetime-edit-ampm-field,
input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}

/* Ensure proper format in Firefox */
@-moz-document url-prefix() {
  input[type="datetime-local"],
  input[type="time"] {
    -moz-locale: "en-GB";
  }
}